html {
  font-family: Livvic, sans-serif;
}
body {
  --dark: #1a1a1a;
  --grey1: #e6e6e6;
  --grey2: #cccccc;
  --white: #fff;
  --red1: #b32524;
  --red2: #cc2a29;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 0.8em;
}

/* Styles for heading*/
.header {
  background: var(--dark);
}
.bold {
  font-weight: bold;
}
.search_result.container {
  margin-top: 1em;
}
.header__heading--1 {
  color: var(--white);
  margin-bottom: 0.2em;
  font-size: 3em;
  max-width: 80%;
  line-height: 1.2;
}
.header__heading--2 {
  color: var(--grey1);
  font-size: 1.25em;
  margin-bottom: 1em;
  max-width: 90%;
  font-weight: 400;
}
.header__button--link,
.header__nav--button_link {
  background: transparent;
  border: 1px solid var(--grey2);
  color: var(--grey2);
  cursor: pointer;
  transition: border color 0.25s;
  padding: 0.8em 1em;
  display: inline-block;
  text-decoration: none;
}
.header__button--link {
  min-width: 150px;
  color: var(--white);
  text-align: center;
}
.header__button--link:hover,
.header__button--link:active,
.header__button--link:focus,
.header__nav--button_link:hover,
.header__nav--button_link:active,
.header__nav--button_link:focus {
  border: 1px solid var(--white);
  color: var(--white);
}
.header__button--link.accent_button {
  background: var(--red1);
  border: none;
  transition: background.25s;
}
.header__button--link.accent_button:hover,
.header__button--link.accent_button:active,
.header__button--link.accent_button:focus {
  background: var(--red2);
}
.header__nav {
  display: flex;
  justify-content: flex-end;
}
.header__nav--container {
  padding: 1em 0;
}
.header__copy {
  padding: 100px 0 50px;
}
.header__heading--2 {
  max-width: 400px;
}
.header__heading--1 {
  max-width: 400px;
}
.searchbox__input {
  border: 1px solid #999999;
  padding: 0.8em 0.5em;
  font-size: 1em;
  transition: 0.25s;
  font-family: livvic, sans-serif;
  height: 45px;
}
.searchbox__input:hover {
  border: 1px solid var(--red2);
}
.searchbox__input:active,
.searchbox__input:focus {
  border: 2px solid var(--red2);
  outline: 0;
}
.select {
  height: 45px;
  font-size: 1em;
  font-family: livvic, sans-serif;
  background: inherit;
}
.select:hover {
  border: 1px solid var(--red2);
}
.select__label--text,
.input_label {
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-size: 0.8em;
}
.select:focus,
.select:active {
  border: 2px solid var(--red2);
  outline: none;
}
.filter__flex {
  display: flex;
}
.sort__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
}
.filter {
  display: flex;
  align-items: center;
}
.filter__text {
  margin-right: 1em;
}
.filter__flex div:first-child {
  margin-right: 1em;
}
.table__heading {
  display: none;
}
.table {
  margin: 0 auto;
}
.table__body--row td {
  display: block;
  margin-left: 12px;
  margin-bottom: 1em;
  padding-left: 150px;

  position: relative;
}
.table__body--row {
  border-bottom: 1px solid #e6e6e6;
  margin: 2em auto 0;
  display: block;
  padding: 1em 0;
}
.table__body--row td {
  font-weight: normal;
}
.table__body--row td:before {
  position: absolute;
  left: 0;
  font-weight: bold;
  color: #555;
}

.table__body--row td:nth-child(1):before {
  content: "SN";
}
.table__body--row td:nth-child(2):before {
  content: "Company";
}
.table__body--row td:nth-child(3):before {
  content: "HQ Country";
}
.table__body--row td:nth-child(4):before {
  content: "Sector";
}
.table__body--row td:nth-child(5):before {
  content: "Amount Raised";
}
.table__body--row td:nth-child(6):before {
  content: "Date Raised";
}
.table__body--row td:nth-child(7):before {
  content: "Investors";
}
ul,
li {
  list-style-type: none;
}
li {
  margin-bottom: 6px;
}
.filter {
  padding: 0 12px;
}
.searchbox,
.select__field:nth-child(2) {
  display: none;
}
.footer {
  padding: 1em 0;
}
.footer p {
  text-align: center;
}
.footer a {
  color: var(--red1);
  transition: 0.25s color;
}
.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--red2);
}
.no_result {
  margin-top: 60px;
}
.no_result img {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}
.centered {
  text-align: center;
}
.no_result h2 {
  margin-top: 20px;
}
@media all and (min-width: 759px) {
  :root {
    font-size: 15px;
  }
  .header__heading--2,
  .header__heading--1 {
    max-width: 100%;
    text-align: center;
  }
  .header__heading--2 {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .header__button--link {
    display: block;
    margin: 0 auto;
    max-width: 150px;
  }
  .table__container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .table {
    width: 100%;
    margin: 40px 0;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #e6e6e6;
  }
  .table__heading {
    background: #f2f2f2;
  }
  .table__heading--row {
    text-align: left;
    padding: 1em 0.8em;
  }
  .table__body--row td:before {
    content: " " !important;
  }
  .table__heading {
    display: table-header-group;
  }
  .table__body--row td {
    display: table-cell;
  }
  .table__heading--row th,
  .table__body--row td {
    padding: 1em 0.8em !important;
    margin-left: 0;
  }
  tr {
    display: table-row;
  }
  th,
  td {
    display: table-cell;
  }
  tr.table__body--row {
    border-bottom: 1px solid #e6e6e6;
    vertical-align: top;
  }
  tr.table__body--row td {
    border-bottom: 1px solid #e6e6e6;
  }
  .table__body--row {
    box-shadow: none;
    display: table-row;
  }
  .searchbox.search_company,
  .filter__text {
    display: block;
  }

  .filter {
    padding: 0;
  }
}

@media all and (min-width: 1023px) {
  :root {
    font-size: 17px;
  }
  .header__heading--1 {
    font-size: 4em;
  }
  .searchbox,
  .filter div:nth-child(2) {
    display: flex;
  }
}
@media all and (min-width: 1360px) {
  .table__container {
    max-width: 1200px;
  }
}
